{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 24rem;">
    <header class="card-header">
        <span class="card-header-title">{{ finch.common_name }}</span>
    </header>
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{ finch.img_url }}" alt="Placeholder image">
        </figure>
    </div>
            
    <div class="card-content">
        
        <span class="card-title">{{ finch.common_name }}</span>
        <p>Genus: {{ finch.genus }}</p>
        <p>Scientific Name: {{ finch.scientific_name }}</p>
        <p>Distribution: {{ finch.distribution }}</p>
    </div>
    <footer class="card-footer">
        <a href="{% url 'finch_update' finch.id %}" class="card-footer-item">Edit</a>
        <a href="{% url 'finch_delete' finch.id %}" class="card-footer-item">Delete</a>
    </footer>
</div>

{% endblock %}